:root {
    /* Shades of grey */
    --colorMainBlack: #292929;
    --colorDarkGrey: #707070;
    --colorLightGrey: #C2C2C2;
    --colorVeryLightGrey: #EDEDED;
    --colorWhite: #FAFAFA;
    
    /* Main color */
    --colorPrimary: #6bb5ff;
    --colorPrimaryLight: #a1d8ff;
    --colorPrimaryVeryLight: #d9eeff;
    
    /* Secondary color */
    --colorSecondary:#f39e00;
    --colorSecondaryLight: #FDCB6E;
    --colorSecondaryVeryLight: #FFFAEC;
}